<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Page not found</h1>
      <p>
        unfortunately we were not able to find this page
      </p>
    </main>
  </body>
</html>