<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Page not found</h1>
      <p>
        unfortunately, something went wrong in the server, we are working to fix it as soon as possible"
      </p>
    </main>
  </body>
</html>
